<!DOCTYPE html>
<html>
 	<head>
 		<link rel="stylesheet" type="text/css" href="../../assets/application.css" />
 	</head>

<body>
	<% @authorized = false %>
	<% if session[:user_id] != nil %>
		<% @authorized = true %>
	<% end %>
	<% if @authorized == true%>
		<% @user = User.find(session[:user_id]) %>
		<% if @user.role == "admin" || @user.role == "owner" %>
		 	<%= link_to "Add New Restaurant", {controller: "restaurants", action: "create"}, :class => "ui-button", :id => "add"%>
		<% end %>
	<% end %>
			<div id="success" class="success">
				<% if flash[:success] %> <%= flash[:success] %> <% end %>
			</div>
		<table id="restaurants" class="cell-border dataTable">  
			<thead>  
			  <tr>  
				<th>Restaurant Name</th>
				<th>Address</th>
				<th>Phone Number</th> 
			  </tr>  
			</thead>  
			<tbody>
				<% @restaurants.each do |restaurant| %>
				<tr>  
				  <td><%= link_to restaurant.restaurant_name, :controller => :restaurants, :action => :details, :id => restaurant.id %></td>  
				  <td><%= restaurant.address %></td>  
				  <td><%= restaurant.phone_number %></td>  
				</tr>
				<% end %>
			</tbody>  
		</table> 
	</body>

<script>
	$(document).ready(function(){

    	$('.dataTable').DataTable();

	});
</script>

</html>
