<h1>Create Restaurant</h1>
<%= form_for :restaurant, url: restaurants_path do |f| %>
  <p>
    <%= f.label :restaurant_name %><br>
    <%= f.text_area :restaurant_name %>
  </p>
 
  <p>
    <%= f.label :store_ID %><br>
    <%= f.text_area :store_ID %>
  </p>

  <p>
    <%= f.label :phone_number %><br>
    <%= f.text_area :phone_number %>
  </p>

  <p>
    <%= f.label :address %><br>
    <%= f.text_area :address %>
  </p>
  <p>
    <%= f.label :max_occupancy %><br>
    <%= f.text_area :max_occupancy %>
  </p>

 
  <p>
    <%= f.submit %>
  </p>
<% end %>


